html,
body {
	background-color: #161616;
}

text,
textPath {
	font-family: 'Roboto', sans-serif;
}

.main-wrap {
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.level-1-text,
.second-level-text,
.third-level-text {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: bold;
	fill: rgba(255, 255, 255, 0.8);
}


.selected .level-1-text,
.second-level-text,
.third-level-text {
	fill: #ffffff;
}

.first-level-wrap {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.first-level-segment {
	fill: rgba(255, 255, 255, 0.8);
}

.selected .first-level-segment {
	fill: #ffffff;
}

/* the disabled class for the first level elements */
.disabled {
	cursor: auto;
}

.disabled .first-level-segment,
.disabled .level-1-text {
	fill: rgba(255, 255, 255, 0.2);
}

/* the selected element highlighted by the drag functionallity */

.selected-segment {
	filter: url(#glow);
}

.asset-element {
	stroke: rgba(255, 255, 255, 0.8);
	stroke-width: 1px;
}

.asset-element.selected {
	stroke: #ffffff;
	stroke-width: 2px;
	filter: url(#glow);
}

.asset-label {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	fill: #ffffff;
	display: none;
}

.test-btn {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 1000;
	padding: 5px;
}

.close-button {
	opacity: 0;
	visibility: hidden;
}

.asset-triangle {
	opacity: 0;
	visibility: hidden;
}

/* Image Wrapper */
.img-wrap {
	border: 1px solid #777;
	padding: 10px;
	height: 200px;
	width: 200px;
	position: absolute;
	bottom: 50px;
	left: 50px;
	opacity: 0;
	visibility: hidden;
}

.img-container {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.img-container img {
	width: auto;
	max-height: 100%;
	margin: auto;
}

/* PAGINATION */
.pagination-button {
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
}

.pagination-button polyline,
.pagination-button circle {
	fill: none;
	stroke: #ffffff;
	stroke-width: 3px;
	stroke-miterlimit: 10;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.pagination-button circle {
	fill: #161616;
}

.btn-wrap {
	width: 600px;
	margin: 0 auto;
	position: fixed;
	top: 20px;
	padding: 10px;
	border: 1px solid white;
}

.btn-wrap button {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	margin-left: 20px;
}
